@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

:root {

    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --font-padrao:Arial,verdana,helvetica, sans-serif;
    --font-destaque:"Bebas Neue", sans-serif;
    --font-android:'Android',sans-serif;
}        

header h1 {
     background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: var(--cor5);
    font-family: var(--font-destaque); /* Bebas Neue */
    font-weight: 900;
    font-size: 3rem;
    color: var(--cor0); /* cor clara */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    margin-bottom: 10px;
    letter-spacing: 5px;
    text-transform: var(--font-destaque);
    text-align: center;
    

    
}

header h1 {
    /* ... suas propriedades */
    animation: fadeInDown 1s ease forwards;
     
      
}
header h1:hover {
    transform: scale(1.05);
    text-shadow:
        0 0 10px #00ffcc,
        0 0 20px #00ffcc,
        0 0 40px #00e6b8,
        0 0 80px #00bfa5,
        0 0 100px #009688;
}

header p:hover {
    transform: scale(1.05);
    text-shadow:
        0 0 10px #00ffcc,
        0 0 20px #00ffcc,
        0 0 40px #00e6b8,
        0 0 80px #00bfa5,
        0 0 100px #009688;
}

footer:hover {
    transform: scale(1.05);
    text-shadow:
        0 0 10px #00ffcc,
        0 0 20px #00ffcc,
        0 0 40px #00e6b8,
        0 0 80px #00bfa5,
        0 0 100px #009688;
}


@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}

header h2 {
     display: inline-block;
     background-color: yellow;
     

}

header p {
    font-weight: 900;
    
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: var(--cor0);
    text-align: center;
      width: 100%;
    max-width: 600px;

    border-radius: 25px;
    
    padding: auto;
    margin: auto;
    
     
    justify-content:center;

   
   
    

 
}

main {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 15px;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    color: var(--cor0);
    margin-bottom: 30px;
   


}
.reciclaveis:hover,
.organicos:hover,
.rejeitos:hover,
.vidros:hover {
    text-decoration: underline;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.bin:hover {
    box-shadow: 0 0 20px var(--cor2), 0 0 30px var(--cor2) inset;
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.bin.reciclaveis h2 a {
    color: #00CED1; /* verde para recicláveis */
     display: inline-block;
     
    border: 3px solid #00CED1; /* Azul esverdeado */
    border-radius: 10px;
    box-shadow: 0 0 20px #4CAF50, 0 0 30px #4CAF50 inset;
   
}

.bin.organicos h2 a {
    color: #A0522D; /* marrom para orgânicos */
     border: 3px solid #A0522D; /* Marrom */
      border-radius: 10px;
       box-shadow: 0 0 20px #A0522D, 0 0 30px #A0522D inset;
}

.bin.rejeitos h2 a {
    color: #808080; /* cinza para rejeitos */
     border: 3px solid #808080; /* Cinza */
      border-radius: 10px;
       box-shadow: 0 0 20px #808080, 0 0 30px #808080 inset;
}

.bin.vidros h2 a {
    color: #4CAF50; /* azul esverdeado para vidros */
    border: 3px solid #4CAF50; /* Verde */
     border-radius: 10px;
     box-shadow: 0 0 20px #4CAF50, 0 0 30px #4CAF50 inset;
     
}


a.externo::after {
    content: '\00A0\1F517';

    
    
}
  

/* Caixas das lixeiras */
.bin {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: var(--cor5);
    border-radius: 8px;
    padding: 20px;
    width: 320px;
    height:  max-content;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* Imagens das lixeiras */
.bin img {
    width: 400px;
    height: auto;
    margin-bottom: 50px;
    
}

.bin {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: var(--cor0);
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* Imagem das lixeiras com tamanho menor e responsivo */
.bin img {
    max-width: 150px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Botão voltar embaixo, separado e centralizado */
.voltar {
    margin-top: 10px;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    
      
}



.voltar img {
    width: 30px;
    cursor: pointer;
    width: 50px;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: drop-shadow(0 0 5px #00ffcc)
            drop-shadow(0 0 10px #00e6b8)
            drop-shadow(0 0 15px #00bfa5);
    
}

.voltar img:hover {
    transform: scale(1.1);
     transform: scale(1.1);
    filter: drop-shadow(0 0 10px #00ffcc)
            drop-shadow(0 0 20px #00e6b8)
            drop-shadow(0 0 30px #00bfa5)
            drop-shadow(0 0 40px #00bfa5);
    
}
.video {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}


div.video {
    background-color: var(--cor5);
    margin: 0px 0px -30px -20px;
    
    padding: 20px;
    padding-bottom: 55%;

    position: relative;
    top: 20%;
    width:100%;
    
    


}


div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    
    color: white;
    text-align:center;
    margin-top: 10px;
    padding:auto;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-bottom: auto;
}
